.container-historia{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.historia-texto{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
}

.historia-titulo{
    text-align: center;
    font-size: 32px;
    font-family: "Noto Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.historia-linha{
    border-bottom: 4px solid rgb(94 163 181);
    width: 250px;
    margin: 0 auto 20px;
}

.historia-descricao{
    font-size: 20px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 30px;
}

.historia-descricao p {
    margin-bottom: 20px;
}